.AddMoneyContainer {
	background: url('../../../images/addMoneyBg.jpg');

	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	min-height: 86.7vh;
	background-size: contain;
	padding-left: -10rem;
	padding-right: -10rem;
	@media (min-width: 768px) {
		height: 40rem;
		background-size: auto;
		padding: 2rem;
	}
}
.bg-image {
	background: rgba(255, 255, 255, 0.25);

	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	@media (min-width: 768px) {
		box-shadow: 0 3px 12px 0 #1504857c;
	}
}
/* Chrome, Safari, Edge, Opera */
/* Firefox */
input {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
input[type='number'] {
	-moz-appearance: textfield;
	outline: none;
}
