/**
 * Variables
 */

$speed: 0.3s;

$easing: 'ease-in-out';

/**
   * Base styles
   */

/**
   * Overlay
   * -- only show for tablet and up
   */
// @media only screen and (min-width: 40em) {
// 	.modal-overlay {
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
// 		z-index: 5;

// 		backface-visibility: hidden;
// 		transition: opacity $speed $easing, visibility $speed $easing;

// 		// opacity: 1;
// 		// visibility: visible;
// 	}
// } // media query

/**
   * Modal
   */
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	background-color: #fff;
	width: 100vw;
	height: 89%;

	overflow-y: auto;
	backface-visibility: hidden;
	transform: scale(1.2);
	transition: all $speed $easing;
	border: none;
	box-shadow: none;

	.close-modal {
		position: absolute;
		cursor: pointer;
		top: 5px;
		right: 15px;
		opacity: 0;
		backface-visibility: hidden;
		transition: opacity $speed $easing, transform $speed $easing;

		svg {
			width: 1.75em;
			height: 1.75em;
		}
	} // close modal

	.modal-content {
		opacity: 0;
		backface-visibility: hidden;
		transition: opacity $speed $easing;
	} // content

	&.active {
		visibility: visible;
		opacity: 1;
		transform: scale(1);

		.modal-content {
			opacity: 1;
		}

		.close-modal {
			transform: translateY(10px);
			opacity: 1;
		}
	}
}

/**
   * Mobile styling
   */
@media only screen and (max-width: 39.9375em) {
	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		border-radius: 0;
		transform: scale(1.1);
		padding: 0 !important;
	}

	.close-modal {
		right: 20px !important;
	}
} // media query
