.SpendMoneyContainer {
	background: url('../../../images/spendMoneyBg.jpg');

	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	min-height: 86.7vh;
	background-size: contain;

	@media (min-width: 768px) {
		height: 40rem;
		background-size: auto;
	}
}
.bg-blur {
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 12px 0 #1504857c;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
}
/* Chrome, Safari, Edge, Opera */
/* Firefox */
input {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
input[type='number'] {
	-moz-appearance: textfield;
	outline: none;
}
.dropdown {
	&:hover {
		.dropdown-menu {
			display: block;
		}
	}
}

input[type='text']{
	&::placeholder{
		font-style: italic;
		color: rgba($color: #000, $alpha: 0.5);
	}
}