.HomeContainer {
	height: auto;
	min-height: 89.9vh;
	background: url('../../images/bg.png') no-repeat;
	background-size: cover;

	object-fit: contain;
	@media (min-width: 480px) {
		min-height: 89.7vh;
	}
}
.currentAmountBox {
	height: 20rem;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}
.totalThisYear {
	color: red;
}
.btn {
	letter-spacing: 1px;
	text-decoration: none;
	
	cursor: pointer;
}

/* The icon */
/* The tooltip */
/* The pointer of the tooltip */
/* Prevents the tooltip from being hidden */
/* CSS animation */

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}
@include keyframes(fadeIn) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.help-tip {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 24px;
	line-height: 42px;
	cursor: default;
	&:before {
		content: '?';

		font-family: sans-serif;
		font-weight: normal;
		color: #fff;
	}
	&:hover {
		p {
			display: block;
			transform-origin: 10% 0%;
			-webkit-animation: fadeIn 0.3s ease;
			animation: fadeIn 0.3s ease;
		}
	}
	p {
		display: none;
		font-family: sans-serif;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		background-color: #ffffff;
		padding: 12px 16px;
		width: 178px;
		height: auto;
		position: absolute;
		left: 50%;
		transform: translate(-120%, -70%);
		border-radius: 3px;
		box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
		color: #37393d;
		font-size: 12px;
		line-height: 18px;
		z-index: 99;

		&:before {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-left-color: #ffffff;
			top: 50%;
			right: -16%;
			transform: translate(-50%, -50%);
		}
		&:after {
			width: 10px;
			height: 40px;
			content: '';
			position: absolute;
			top: -40px;
			left: 0;
		}
	}
}
